{% extends 'base.html.twig' %}

{% block title %}Mon Rendez-vous{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="text-center textvert fw-bold">Mon rendez-vous</h1>
    <hr class="lignejaucentree mb-5">
 {% for message in app.flashes('success') %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <i class="bi bi-check-circle-fill me-2"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}
    {% for message in app.flashes('danger') %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <i class="bi bi-x-circle-fill me-2"></i> {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endfor %}

{# Prochain rendez-vous #}
    <h4 class="mt-5 fw-semibold">Prochain rendez-vous</h4>

    <div class="row align-items-start mt-4">
        <div class="col-md-8">
            <div class="mb-3 d-flex align-items-start">
                <i class="bi bi-person-circle fs-3 me-2"></i>
                <div>
                    {% if rendezvous %}
                        <p class="mb-1"><strong>De :</strong> {{ app.user.nom }} {{ app.user.prenom }}</p>
                        <p class="mb-1 text-danger"><strong>Date et heure :</strong> {{ rendezvous.dateRDV|date('d/m/Y H:i') }}</p>

                        {% set rdvServiceAssocie = rendezvous.rendezVousServices.first %}

                        {% if rdvServiceAssocie %}
                            <p class="mb-1"><strong>Service choisi :</strong> {{ rdvServiceAssocie.services.nomService }}</p>
                            <p class="mb-1"><strong>Niveau de service :</strong> {{ rdvServiceAssocie.niveauService.nomNiveau }}</p>
                        {% else %}
                            <p class="mb-1">Aucun service associé à ce rendez-vous.</p>
                        {% endif %}

                    {% else %}
                        <p class="mb-1"><strong>De :</strong> {{ app.user.nom }} {{ app.user.prenom }}</p>
                        <p>Aucun rendez-vous pris.</p>
                        <p>Aucun service choisi</p>
                    {% endif %}
                </div>
            </div>

{# Boutons d'action (modifier/annuler) #}
            <div class="d-flex gap-3">
                {# C'EST LE BOUTON POUR LA MODALE BOOTSTRAP DE MODIFICATION #}
                <button class="btn btn-warning text-dark fw-semibold" data-bs-toggle="modal" data-bs-target="#editModal">
                    Modifier mon rendez-vous
                </button>
                

                {# C'EST LE BOUTON QUI VA AFFICHER LE FORMULAIRE D'ANNULATION EN LIGNE (PAS UNE MODALE) #}
                {% if rendezvous %}
                    <button type="button" class="btn btn-light text-danger fw-semibold border border-danger" id="btnAfficherFormAnnulation">
                        Annuler mon rendez-vous
                    </button>
                {% else %}
                          <button type="button" class="btn btn-light text-danger fw-semibold border border-danger">
                        Annuler mon rendez-vous
                    </button>
                {% endif %}
            </div>

            {# C'EST LE BLOC DU FORMULAIRE D'ANNULATION - Caché par défaut avec la classe 'd-none' #}
            {# Il sera affiché par le JavaScript au clic du bouton "Annuler mon rendez-vous" #}
            {% if rendezvous %}
                <div id="sectionFormAnnulation" class="mt-4 p-3 border rounded bg-light d-none"> 
                    <h5 class="fw-semibold text-danger">Annuler votre rendez-vous</h5>
                    <form id="formAnnulerRendezVous" method="post" action="{{ path('annulerRDV', {'id': rendezvous.id}) }}">
                        <p class="mb-2">Vous êtes sur le point d'annuler votre rendez-vous du : <strong>{{ rendezvous.dateRDV|date('d/m/Y H:i') }}</strong>.</p>
                        <p class="text-danger fw-bold mb-3">Cette action est irréversible.</p>

                        <div class="mb-3">
                            <label for="cancel_reason" class="form-label">Motif de l'annulation :</label>
                            <select class="form-select" id="cancel_reason" name="justification_cancel" required>
                                <option value="">-- Sélectionnez un motif --</option>
                                <option value="changement_plans_personnels">Changement de plans personnels</option>
                                <option value="imprevu_professionnel">Imprévu professionnel urgent</option>
                                <option value="probleme_sante">Problème de santé</option>
                                <option value="service_non_necessaire">Service non nécessaire finalement</option>
                                <option value="conflit_horaire">Conflit d'horaire</option>
                                <option value="raison_personnelle_privee">Raison personnelle (préfère ne pas détailler)</option>
                                <option value="autre">Autre motif (précisez ci-dessous)</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="cancel_comment" class="form-label">Commentaire (facultatif, pour justifier poliment) :</label>
                            <textarea class="form-control" id="cancel_comment" name="commentaire_annul_rdv" rows="3" placeholder="Ex: Un imprévu est survenu et je dois malheureusement annuler."></textarea>
                        </div>

                        <button type="submit" class="btn btn-danger fw-semibold">Confirmer l'annulation</button>
                    </form>
                </div>
            {% endif %}
        </div>

        <div class="col-md-4">
            <div class="bg-light rounded" style="width: 100%; height: 180px;"></div>
        </div>
    </div>{# Fin de la div class="row align-items-start mt-4" #}

    {# Laisser un avis client (inchangé) #}
    <div class ="marge_50">
        <h4 class="mt-5 fw-semibold">Laisser un avis sur votre expérience</h4>
        <form method="post" action="{{ path('enregistrer_avis') }}">
        <input type="hidden" name="utilisateur_id" value="{{ app.user.id }}">

      <div class="mb-3">
    <label class="form-label fw-semibold mb-2">Note de satisfaction (1-5) :</label>

    <div class="d-flex flex-wrap gap-3">
        {% for i in 1..5 %}
            <div class="form-check-note-etoile">
                <input class="form-check-input" type="radio" name="note" id="note_avis_{{ i }}"  value="{{ i }}"
                    required>
                <label class="form-check-label" for="note_avis_{{ i }}">
                    {{ i }}
                </label>
            </div>
        {% endfor %}
    </div>
</div>

        <div class="mb-3">
            <label for="avis_titre" class="form-label fw-semibold">Titre de votre avis <strong class="texte20px fw-light">(facultatif)</strong> :</label>
            <input type="text" class="form-control" id="avis_titre" name="titre" placeholder="Ex: Rendez-vous Audit IT" maxlength="255">
        </div>

        <div class="mb-3">
            <label for="avis_service_choisi" class="form-label fw-semibold">Service concerné <strong class="texte20px fw-light">(facultatif)</strong> :</label>
            <select class="form-select" id="avis_service_choisi" name="service"> 
                <option value="">-- Sélectionnez un service --</option>
                {% for service in services %}
                    <option value="{{ service.id }}">{{ service.nomService }}</option>
                {% endfor %}
            </select>
        </div>

      <div class="">
    <label for="avis_niveau_service" class="form-label fw-semibold">Niveau de service <strong class="texte20px fw-light">(facultatif)</strong> :</label>
        <select class="form-select" id="avis_niveau_service" name="niveau_service"> 
            <option value="">-- Sélectionnez le niveau de service --</option>
            {% for niveau in niveauService %}
                <option value="{{ niveau.id }}">{{ niveau.nomNiveau}}</option>
            {% endfor %}
        </select>
        </div>
        <div class="mb-3">
            <label for="avis_commentaire" class="form-label fw-semibold">Votre commentaire :</label>
            <textarea class="form-control" id="avis_commentaire" name="commentaire" rows="4" placeholder="Partagez votre expérience détaillée ici." required></textarea>
        </div>

        <button type="submit" class="btn btn-success fw-semibold">Envoyer mon avis</button>
    </form>
</div> 

</div>

   {# MODAL EDIT #}
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padding20">
            <div class="modal-header fondvert textjaune fw-bold">
                <h5 class="modal-title" id="editModalLabel">Modifier votre rendez-vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if rendezvous %}
                    <p>Votre rendez-vous actuel est prévu pour le : <strong class="texterouge">{{ rendezvous.dateRDV|date('d/m/Y H:i') }}</strong></p>
                    <form method="post" action="{{ path('modifier_mon_rdv', {'id': rendezvous.id}) }}">
                        <div class="mb-3 text-center">
                            <label for="nouvelle_date_rdv" class="form-label texttresgras textvert texte_majuscule fs-2">Nouvelle date :</label>
                            <input type="text" id="nouvelle_date_rdv" name="nouvelle_date" class="form-control"
                                   value="{{ rendezvous.dateRDV ? rendezvous.dateRDV|date('Y-m-d') }}">
                        </div>
                        <div class="mb-3">
                            <label for="nouvelle_heure_rdv" class="form-label fw-semibold mt-3">Nouvelle heure :</label>
                            <select class="form-select" id="nouvelle_heure_rdv" name="heure" required>
                                <option value="">Sélectionnez une heure</option>
                                {% set heuresDisponibles = ['09:00', '10:10', '11:10', '12:10', '14:10', '15:10', '16:10', '17:10'] %}
                                {% set heureActuelle = rendezvous.dateRDV ? rendezvous.dateRDV|date('H:i') : '' %}
                                {% for heure in heuresDisponibles %}
                                    <option value="{{ heure }}" {% if heure == heureActuelle %}selected{% endif %}>{{ heure }}H</option>
                                {% endfor %}
                            </select>
                        </div>

                   <div class="mb-3">
    <div class="mb-3">
                    <label class="form-label fw-semibold">Modifier service :</label>
                    <div id="services_selection">
             
                        {% set listeDesServicesDejaCoches = rendezvous.rendezVousServices|map(associationServiceRdv => associationServiceRdv.services.id)|default([]) %}
                        {% for service in services %}
                            <div class="form-check2">
                                <input class="form-check2-input" type="checkbox" name="service[]" value="{{ service.id }}" id="service_modifier_{{ service.id }}"
                                 
                                    {% if service.id in listeDesServicesDejaCoches %}checked{% endif %}>
                                <label class="form-check-label" for="service_modifier_{{ service.id }}">
                                    {{ service.nomService }}
                                </label>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                  
                <div class="mb-3"> 
                    <label for="niveauService_modifier" class="form-label fw-semibold">Nouveau niveau de service :</label>
                    <select class="form-select" id="niveauService_modifier" name="niveauService">
                        <option value="">Sélectionnez un niveau de service</option>

                      
                        {% set niveauServiceActuelId = rendezvous.rendezVousServices.first ? rendezvous.rendezVousServices.first.niveauService.id : null %}

                        {% for niveau in niveauService %}
                             <option value="{{ niveau.id }}" {% if niveau.id == niveauServiceActuelId %}selected{% endif %}>{{niveau.nomNiveau}}</option>
                        {% endfor %}
                    </select>
                </div>

                    <div class="mb-3">
                        <label for="justification" class="form-label fw-semibold">Motif du déplacement (facultatif) :</label>
                        <select class="form-select" id="justification" name="justification">
                            <option value="">-- Choisissez un motif --</option>
                            <option value="erreur_date">Erreur de date</option>
                            <option value="changement_emploi_du_temps">Changement d'emploi du temps</option>
                            <option value="autre">Autre</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="commentaire" class="form-label fw-semibold">Commentaire (facultatif) :</label>
                        <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" class="btn btn-warning text-dark fw-semibold">Mettre à jour le rendez-vous</button>
                    </div>
                </form>
               
            
                {% else %}
                    <p>Aucun rendez-vous à modifier.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/mon-rdv.js') }}"></script>
{% endblock %}