{% extends 'base.html.twig' %}

{% block title %}Mon Rendez-vous{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{% endblock %}

{% block body %}
<h1>Mon rendez-vous</h1>
<div class="container my-5">
    <h1 class="text-center fw-bold">
        Mon rendez-vous <span class="border-bottom border-warning d-inline-block" style="width: 60px;"></span>
    </h1>

{# prochain rdv #}
    <h4 class="mt-5 fw-semibold">Prochain rendez-vous</h4>

    <div class="row align-items-start mt-4">
        <div class="col-md-8">
            <div class="mb-3 d-flex align-items-start">
                <i class="bi bi-person-circle fs-3 me-2"></i>
                <div>
                    {% if rendezvous %}
                        <p class="mb-1"><strong>De :</strong> {{ app.user.nom }} {{ app.user.prenom }}</p>
                        <p class="mb-1 text-danger"><strong>Date et heure :</strong> {{ rendezvous.dateRDV|date('d/m/Y H:i') }}</p>

                        {% set rdvService = rendezvous.rendezVousServices.first %}

                        {% if rdvService %}
                            <p class="mb-1"><strong>Service choisi :</strong> {{ rdvService.services.nomService }}</p>
                            <p class="mb-1"><strong>Type de service :</strong> {{ rdvService.niveauService.nomNiveau }}</p>
                        {% else %}
                            <p class="mb-1">Aucun service associé à ce rendez-vous.</p>
                        {% endif %}

                    {% else %}
                        <p class="mb-1"><strong>De :</strong> {{ app.user.nom }} {{ app.user.prenom }}</p>
                        <p>Aucun rendez-vous pris.</p>
                        <p>Aucun service choisi</p>
                    {% endif %}
                </div>
            </div>

{# modification son rdv - annuler ou modifier #}
            <div class="d-flex gap-3">
                {% if rendezvous %}
                    <button class="btn btn-warning text-dark fw-semibold" data-bs-toggle="modal" data-bs-target="#editModal">
                        Modifier mon rendez-vous
                    </button>
                {% endif %}
                <button class="btn btn-light text-danger fw-semibold border border-danger" data-bs-toggle="modal" data-bs-target="#cancelModal">
                    Je souhaite annuler mon rendez-vous
                </button>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg-light rounded" style="width: 100%; height: 180px;"></div>
        </div>
    </div>
</div>


<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padding20">
            <div class="modal-header fondvert textjaune fw-bold">
                <h5 class="modal-title" id="editModalLabel">Modifier votre rendez-vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if rendezvous %}
                    <p>Votre rendez-vous actuel est prévu pour le : <strong class="texterouge">{{ rendezvous.dateRDV|date('d/m/Y H:i') }}</strong></p>
                    <form method="post" action="{{ path('modifier_mon_rendezvous', {'id': rendezvous.id}) }}">
                        <div class="mb-3 text-center">
                            <label for="nouvelle_date_rdv" class="form-label texttresgras textvert texte_majuscule fs-2">Nouvelle date :</label>
                            <input type="text" id="nouvelle_date_rdv" name="nouvelle_date" class="form-control"
                                   value="{{ rendezvous.dateRDV ? rendezvous.dateRDV|date('Y-m-d') }}" required>
                        </div>
                        <div class="mb-3">
                    <!--  l'heure actuelle -->
                    <label class="form-label fw-semibold">Heure actuelle :</label>
                    <input type="text" class="form-control" 
                            value="{{ rendezvous.dateRDV ? rendezvous.dateRDV|date('H:i') }}" 
                            >

                        <!-- Choix de la nouvelle heure -->
                        <label for="heure_rdv" class="form-label fw-semibold mt-3">Nouvelle heure :</label>
                        <select class="form-select" id="heure_rdv" name="heure" required>
                            <option value="">Sélectionnez une nouvelle heure</option>
                            <option value="09:00">09:00 heures</option>
                            <option value="10:10">10:10 heures</option>
                            <option value="11:10">11:10 heures</option>
                            <option value="12:10">12:10 heures</option>
                            <option value="14:10">14:10 heures</option>
                            <option value="15:10">15:10 heures</option>
                            <option value="16:10">16:10 heures</option>
                            <option value="17:10">17:10 heures</option>
                        </select>
                        </div>

                    </div>

                   <div class="mb-3">
                    <label for="service" class="form-label fw-semibold">Modifier service :</label>
                    <select id="service" name="service" class="form-select">
                        {% set currentRdvService = rendezvous.rendezVousServices|first %}
                        {% set currentServiceId = currentRdvService ? currentRdvService.services.id : null %}
                        {% for service in services %}
                            <option value="{{ service.id }}" {% if service.id == currentServiceId %}selected{% endif %}>{{ service.nomService }}</option>
                        {% endfor %}
                    </select>
                </div>


                        <div class="mb-3">
                            <label for="typeService" class="form-label fw-semibold">Nouveau type de service :</label>
                            <select id="typeService" name="typeService" class="form-select">
                                {% set currentRdvService = rendezvous.rendezVousServices.first %}
                                {% set currentNiveauServiceId = currentRdvService ? currentRdvService.niveauService.id : null %}
                                {% for type in typesOffre %}
                                    <option value="{{ type.id }}" {% if type.id == currentNiveauServiceId %}selected{% endif %}>{{ type.nomNiveau }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="justification" class="form-label fw-semibold">Motif du déplacement (facultatif) :</label>
                            <select class="form-select" id="justification" name="justification">
                                <option value="">-- Choisissez un motif --</option>
                                <option value="erreur_date">Erreur de date</option>
                                <option value="changement_emploi_du_temps">Changement d'emploi du temps</option>
                                <option value="autre">Autre</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="commentaire" class="form-label fw-semibold">Commentaire (facultatif) :</label>
                            <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" class="btn btn-warning text-dark fw-semibold">Mettre à jour le rendez-vous</button>
                        </div>
                    </form>
                {% else %}
                    <p>Aucun rendez-vous à modifier.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="cancelModal" tabindex="-1" aria-labelledby="cancelModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content padding20">
            <div class="modal-header ">
                <h5 class="modal-title texte_majuscule" id="cancelModalLabel">Annulation rendez-vous</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5 fw-bold texterouge text-center">Vous êtes sur le point annuler votre rendez-vous</p>
                <p class="fs-6">Afin de mieux comprendre votre décision, pourriez-vous s'il vous plaît indiquer les raisons de l'annulation ??</p>
                </div>
             <div class="mb-3">
                            <label for="justification" class="form-label fw-semibold">Motif du déplacement (facultatif) :</label>
                            <select class="form-select" id="justification" name="justification">
                                <option value="">-- Choisissez un motif --</option>
                                <option value="erreur_date">Erreur de date</option>
                                <option value="changement_emploi_du_temps">Changement d'emploi du temps</option>
                                <option value="autre">Autre</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="commentaire" class="form-label fw-semibold">Commentaire (facultatif) :</label>
                            <textarea class="form-control" id="commentaire" name="commentaire" rows="3"></textarea>
                        </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Non, annuler</button>
                {% if rendezvous %}
                    <a href="{{ path('annulerRDV', {'id': rendezvous.id}) }}" class="btn fondrouge text-white fw-semibold">Oui, annuler mon rendez-vous</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/fr.js"></script>
    <script src="{{ asset('js/mon-rdv.js') }}"></script> {# Votre fichier JavaScript dédié #}
{% endblock %}